<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Just Tech News</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <div class="wrapper">
    <div class="li-inline nav-item"><a href="/">Home</a></div>
    <div class="li-inline nav-item"><a href="/dashboard">Dashboard</a></div>
    <div class="li-inline nav-item"><a href="#" id="logout-link">Lougout</a></div>
    <header>
      <h1>
        <a href="/">Just Another Tech Blog</a>
      </h1>
    </header>
    <main>
      {{{ body }}}
    </main>
    <footer>
      Hasta la Vista, Bebe
    </footer>
  </div>

</body>

</html>