<article class="card post">
  <h2>
    Edit Post
  </h2>
  <form class="edit-post-form">
    <div class="edit-title-container">
      <label class="form-label" for="post-title">Post Title</label>
      <input type="text" name="post-title" value="{{post.title}}"></textarea>
    </div>
    <div class="edit-body-container">
      <label class="form-label" for="post-body">Post Content</label>
      <textarea name="post-body">{{post.body}}</textarea>
    </div>
    <button type="submit" class="edit-btn">Save Changes</button>
    <button type="submit" class="delete-btn">Delete Post</button>
  </form>
</article>

<script src="/javascript/edit-post"></script>